

/*手機螢幕 不顯示時程表*/
@media screen and (min-width: 950px) and (max-width: 1920px){	
    .schaduleRowWrapper{ margin-top:15px; display:normal;}
    .ifMobileHide { display:normal; }
}

@media screen and (min-width: 481px) and (max-width: 949px){	
    .ifMobileHide { display:none; }
    .schaduleRowWrapper{    display:none;}
}


@media screen and (max-width: 480px){	
    .ifMobileHide { display:none; }
    .schaduleRowWrapper{    display:none;}
    .rightPannel .title    {
        text-align:right;
    }
}


